<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pemesanan Tiket</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="styless_pesan.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
</head>

<body>

    {{> navbar}}

    <main>
        <div class="container">
            <h1>Pemesanan {{hasil}}</h1>
        </div>
    </main>

    {{> footer}}
</body>

</html>