{{!-- Header top navbar --}}
<header class="header">
	<div class="logo"><a href="/" class="logo">KAI Web</a></div>
	<nav class="nav">
		<a href="/" class="nav-link">Beranda</a>
		<a href="/pesan-tiket" class="nav-link">Pesan Tiket</a>
		<a href="/jadwal" class="nav-link">Jadwal</a>
		{{!-- <a href="/akun" class="nav-link">Akun</a> --}}
	</nav>
</header>